*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.background{
    width: 100%;
    height: 570px;
    /* margin-top: 80px; */
}
.imgcontent{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 120px;
    left: 22%;    
}